<%- include('./partials/head.html') %>

	<div class="container py-4">
		<h1>SuperIPM</h1>
		<p>La función del bot SuperIPM es tener sistema para cada cosa de los servidores. Con soporte 24 / 7 y con servicio al publico. Se escuchan a los usuarios que usen el bot, sugerencias para poder mejorar el bot poco a poco.</p>
		<p>Tiene un monto de funciones y comandos que te pueden servir en tu servidor, sistema de moderación, Sistema de sugerencias, Sistema de tickets, Sistema de moderación minima y avanzada.</p>

		<div class="card" style="width: 18rem;">
		  <img src="/archives/superipm.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">Servicio de soporte del BOT</h5>
		    <p class="card-text">Puedes usar esta pagina web para que configurar el bot desde esta pagina web.</p>
		    <a href="/dashboard" class="btn btn-primary">DashBoard / Configuración</a>
		  </div>
		</div>
	</div>

<%- include('./partials/footer.html') %>